.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 50svh;
  padding: 40px;
  gap: 20px;
  font-family: var(--font-geist-sans);
}

.myTitle{
  font-size: xx-large;
  font-family: var(--font-newsreader);
  font-style: italic;
}

.lists{
  font-size: x-large;
  font-family: var(--font-red-hat-mono);
  background-color: #577590;
  /* padding: 20px; */
  margin: 20px, 30px, 20px, 30px;
}

.striked{
  font-size: x-large;
  font-style: italic;
  font-family: var(--font-red-hat-mono);
  color: #BF8B85;
  background-color: #577590;
}